.titulo{
  text-transform: capitalize;
  font: 500 34px/68px Roboto, "Helvetica Neue", sans-serif;
  height: 50px;
  margin: 0 0 8px;
}

h2{
  margin: 0;
}

.teste{
  padding-top: 10px;
  padding-bottom: 10px;
}

.descricaoTarefa{
  text-align: justify;
  font-size: 16px;
  white-space: pre-wrap;
  margin: 40px 0 15px;
}

table {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.mat-row {
  padding-top: 16px;
}

button{
  margin: 10px;
}


td{
  max-width: 300px;
  vertical-align: top;
}
.mat-column-saida, .mat-column-entrada{
  padding-left: 5px;
  padding-right: 5px;
}
