<div class="container-fluid">
  <div class="container">

    <form class="formulario" (ngSubmit)="cadastrarProva()"  [formGroup]="formProva">
      <h2 class="titulo-form">Nova Prova</h2>
      <p>
        <mat-form-field class="example-full-width" appearance="outline" >
          <mat-label>Nome</mat-label>
          <input matInput class="input-form"  id="nome" type="text"  name="nome" formControlName="nome"/>
        </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width" appearance="outline" >
          <mat-label>Data Inicial</mat-label>
          <input matInput class="input-form"  mask="99/99/9999" id="dataInicial" type="datetime-local"  formControlName="dataInicial" name="dataInicial"/>
        </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width" appearance="outline" >
          <mat-label>Data Final</mat-label>
          <input matInput class="input-form"  mask="99/99/9999" id="dataFinal" type="datetime-local"  formControlName="dataFinal" name="dataFinal"/>
        </mat-form-field>
    </p>


    <p>
      <mat-form-field class="example-full-width">
        <mat-select name="tarefasId" multiple formControlName="tarefasId" placeholder="Tarefas" required>
            <mat-option #allSelected [value]="0" (click)="selecionarTodos()">Todos</mat-option>
            <mat-option *ngFor="let t of tarefas" [value]="t.id"
                (click)="trocarPorUm(allSelected)">
                {{ t.titulo }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </p>

    <!-- <table mat-table [dataSource]="tarefas" class="mat-elevation-z8">


        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let tarefa">
            <mat-checkbox mat-list-icon color="primary" (click)="adicionarTarefa(tarefa)"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef> Título </th>
          <td mat-cell *matCellDef="let tarefa"> {{tarefa.titulo}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table> -->

      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->


      <!-- To use formControl within formGroup, provide [formControl] = formGroupName.controls[‘formControlName’] otherwise just [formControl] = ‘formControlName’ -->



    <div class="botao-wrapper center">
      <button mat-button class="botao" id="btn" type="submit" color="primary">Cadastrar</button>
    </div>

    </form>

  </div>
</div>
